{%extends 'factory/base.html'%}
{%load static%}
{%block home%}active{%endblock%} 
{%block content%}

            <!-- HEADING BREADCRUMB-->
      <section class="bg-pentagon py-4">
        <div class="container py-3">
          <div class="row d-flex align-items-center gy-4">
            <div class="col-md-7">
              {%if query%}
              <h1 class="h2 mb-0 text-uppercase">{{query}}</h1>
              {%else%}
              <h1 class="h2 mb-0 text-uppercase">Factory listing</h1>
              {%endif%}
            </div>
            <div class="col-md-5">
              <!-- Breadcrumb-->
              <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
                <li class="breadcrumb-item"><a class="text-uppercase" href="{%url 'index' %}">Home</a></li>
                <li class="breadcrumb-item text-uppercase active">factories</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!-- BLOG LISTING SMALL LISTING-->
      <section class="py-5">
        <div class="container py-4">
          <div class="row gy-5">
            <div class="col-lg-9">
              <div class="row gy-5 mb-5">
                <!-- Blog box-->
                {%for factory in factories%}
                <div class="col-lg-4 col-md-6">
                  <div class="box-image">
                    <div class="mb-4 primary-overlay"><img class="img-fluid" src="{{factory.image.url}}" alt="...">
                      <div class="overlay-content d-flex flex-column justify-content-center p-4">
                        <ul class="list-inline mb-0 box-image-content text-center">
                          <li class="list-inline-item"><a class="btn btn-outline-light" href="{%url 'details' factory.pk %}"> <i class="fas fa-link me-2"></i>Read more</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="text-center">                   
                      <h3 class="h4 text-uppercase text-primary"><a class="text-reset" href="{%url 'details' factory.pk %}">{{factory.name}}</a></h3>
                      <p class="small text-uppercase text-muted">at {{factory.district}}</p>
                      <p class="text-gray-600 text-sm text-start">{{factory.about}}.</p><a class="btn btn-outline-primary" href="{%url 'details' factory.pk %}">View</a>
                    </div>
                  </div>
                </div>
                <!-- Blog box-->
                {%endfor%}
              </div>
              
              <!-- BLOG LISTING PAGER-->
              <div class="py-4 border-top">
                <div class="d-flex align-items-center justify-content-between">
                  {%if factories.has_previous%}
                  <a class="btn btn-outline-primary" href="?{{page_var}}={{ products.previous_page_number }}">
                    <i class="fas fa-long-arrow-alt-left me-2"></i>
                    Older</a>
                    {%else%}
                    <a class="btn btn-outline-secondary disabled">
                      <i class="fas fa-long-arrow-alt-left me-2"></i>
                      Older</a>
                    {%endif%}
                    {%if factories.has_next%}
                    <a class="btn btn-outline-primary" href="?{{page_var}}={{ products.previous_page_number }}">
                      Newer<i class="fas fa-long-arrow-alt-right ms-2">
                         </i></a>
                         {%else%}
                         <a class="btn btn-outline-secondary disabled">
                           <i class="fas fa-long-arrow-alt-left me-2"></i>
                           Newer</a>
                         {%endif%}
                        </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-4">
                <h3 class="h4 lined text-uppercase mb-4">Info</h3>
                <p class="text-sm mb-0">There are three representations for a factory's condition. Green means yet to be built ,Brown means abandoned or not in use and completed are ccommpleted and in use factories.</p>
              </div>
              <div class="mb-4">   
                <h3 class="h4 lined text-uppercase mb-4">Search</h3>
                <form action="{%url 'search'%}"  role="search">
                  <div class="input-group mb-3">
                    <input class="form-control" name='q' type="search" placeholder="Search factories" aria-label="search">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </form>
              </div>
              <div class="mb-4">   
                <h3 class="h4 lined text-uppercase mb-4">Categories</h3>
                <nav class="nav flex-column nav-pills">
                  <a class="nav-link text-sm" href="{%url 'filter' 'green'%}">Green Fields</a>
                  <a class="nav-link text-sm " href="{%url 'filter' 'brown'%}">Brown Fields</a>
                  <a class="nav-link text-sm" href="{%url 'filter' 'completed'%}">Completed</a>
                    <a class="nav-link text-sm" href="{%url 'filter' 'agric'%}">Agric</a>
                </nav>
              </div>
              
            </div>
          </div>
        </div>
      </section>

      
      {%endblock%}